
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

body {
    overflow: hidden !important;
}

.video-wrapper {
    text-align: center;
    background-image: url(/images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

}
.img {
    text-align:center;
    margin:0 auto;
    display:block;
    max-width:100px;
}
.img img {
    width:100%;
max-width: 100%;
min-width: 100%;
    cursor: pointer;
}
#video {
    width:0px;
    height:0px;
    position:relative;
    opacity:0;
    z-index:-1;
    transition: 2s;
}
.play-pause-btn1 {
    opacity:1;
    z-index:1;
    position:absolute;
    top:40px;
    left:0;
    right:0;
    margin:0 auto;
}
.play-pause-btn2 {
    opacity:1;
    z-index:1;
    position:absolute;
    top:240px;
    left:0;
    right:0;
    margin:0 auto;
}
.play-pause-btn3 {
    opacity:1;
    z-index:1;
    position:absolute;
    top:440px;
    left:0;
    right:0;
    margin:0 auto;
}
.play-pause-btn4 {
    opacity:1;
    z-index:1;
    position:absolute;
    top:640px;
    left:0;
    right:0;
    margin:0 auto;
}
.play-pause-btn.animate img {
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
.play-pause-btn.hide {
    opacity:0;
    z-index:-1;
}
#video.show {
    opacity:1;
    z-index:9;
height: 600px;
width: 600px;
}
.grow{
    transform: scale(16);
    transition: 2s;
    /* top: 0;
    bottom: 0; */
}